<div class="form">
    <div class="background">
        <EditForm Model="@Product" OnValidSubmit="HandleSubmit">
            <DataAnnotationsValidator/>
            <div class="form-content">
                <div class="title">
                    Edit
                </div>
                <div class="fields">
                    <div class="input-group">
                        <label for="name">Name</label>
                        <InputText id="name" @bind-Value="Product.Name"/>
                        <ValidationMessage For="() => Product.Name"/>
                    </div>
                    <div class="input-group">
                        <label for="desc">Description</label>
                        <InputText id="desc" @bind-Value="Product.Description"/>
                        <ValidationMessage For="() => Product.Description"/>
                    </div>
                    <div class="input-group">
                        <label for="price">Price</label>
                        <InputNumber id="price" @bind-Value="Product.Price"/>
                        <ValidationMessage For="() => Product.Price"/>
                    </div>

                    @if (_url != null)
                    {
                        <div>
                            <img src="@_url" alt="@Product.Name" @onload="OnImageLoaded"/>
                        </div>
                    }
                    else if (Product is { ImageData.Length: > 0 })
                    {
                        <div>
                            <img
                                src="@($"data:image/png;base64,{Convert.ToBase64String(Product.ImageData)}")" alt="@Product.Name"/>
                        </div>
                    }
                </div>
                <div class="btn-holder">
                    <button type="button" class="btn btn-normal" @onclick="InvokeLoadImageAsync">Load Image</button>
                    <button class="btn btn-success" type="submit">Save</button>
                </div>
            </div>
        </EditForm>
    </div>
</div>

<ProductModalComponent @bind-IsOpen="_isModalOpen" Message="Image loaded successfully!"/>
